a {
    color: #987ceb;
}
div {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + div {
    background: #000;
    color: #fff;
    body.color: #333639
}

body {
    margin: 10;
    color: #a81c4f
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 10;
    top: 0;
}
